{% extends base_template %}

{% block title %}Notifications{% endblock title %}

{% block content %}
    <div class="text-xl px-4 py-2 border-slate-500 border-b-2 border-opacity-50 flex justify-between items-center" _="init go to the top of the body">
        Notifications
        <button 
            class="btn btn-xs btn-outline btn-error"
            hx-delete="{% url "notifications" %}"
            hx-target="#content"
            hx-swap="outerHTML"
        >Clear</button>
    </div>

    <div id="alert-new"></div>

    <div 
    id="notifications"
    class="post-section"
    _="init add .hidden to .notification-indicator"
    >
        {% for notification in notifications %}
            {% if not notification.is_read %}
                <span 
                hx-post="{% url "notifications" %}" 
                hx-trigger="revealed" 
                hx-vals='{"id":"{{notification.id}}"}' 
                ></span>
            {% endif %}
            <article
            class="border-slate-500 border-b-2 border-opacity-50"
            hx-target="#content" 
            hx-swap="outerHTML" 
            hx-push-url="true"
            hx-get="{{ notification.post_creator.get_absolute_url }}"
            >
                {% include "posts/post.html" with post=notification.post_creator %}
            </article>
        {% endfor %}
    </div>
    
{% endblock content %}
