{% extends "core/messages.html" %}
{% load widget_tweaks %}

{% block chat %}
<div class="relative">
    <div class="">
        <div class="flex flex-col items-center rounded-xl h-[50vh]">
            <div class="flex items-center justify-center sticky z-[100] w-full backdrop-blur-md bg-base-100/80 border-slate-500 top-0" id="details-page">
                <div 
                class="flex items-center justify-center chat-image avatar cursor-pointer" 
                hx-get="{% url "profile" username=other_user.username %}" 
                hx-target="#content"
                hx-push-url="true"
                >
                    <div class="w-8 rounded-full">
                        <img alt="{{ other_user }}" src="{{ other_user.profile.profile_picture.url }}" />
                    </div>
                    <span class="text-lg ms-2">{{ other_user }}</span>
                </div>
            </div>
            <div id="chat_messages" class="flex flex-col overflow-auto w-full h-full">
                {% for message in room_messages reversed %}
                    <div class="hover:bg-base-200 relative px-4">
                        {% include "chat/chat_message.html" %}
                    </div>
                {% endfor %}
            </div>
            <form
            class="w-full px-2"
            hx-ext="ws"
            ws-connect="/ws/chatroom/{{room.room_name}}/" 
            ws-send
            _="on htmx:wsAfterSend reset() me">
                {% render_field form.body id="chat-message-input" type="text" placeholder="Send a message" class="input input-bordered w-full py-3 my-2 w-full focus:outline-none" %}
            </form>
        </div>
    </div>
</div>

<script>

    function scrollToBottom() {
        const container = document.getElementById('chat_messages');
        container.scrollTop = container.scrollHeight;
    }
    scrollToBottom()

</script>

{% endblock %}
